.DS_Store
node_modules
/.svelte-kit
/package
.env
.env.*
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# custom

/NOTES.md
/notes/*
/static/documents/*
/static/exercices/*
/static/fonts/*
/static/presentations/*
!/static/presentations/seance-0*
/static/presentation-qdmtl/*
/src/routes/@test/*